@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
  }
  

.bg-slideshow {
    background: url("https://i.ibb.co.com/ZRrcvt0/banner-bg.jpg") no-repeat
      center center/cover;
    animation: slide 12s infinite;
  }

  @keyframes slide {
    0%,
    100% {
      background-image: url("https://i.ibb.co.com/CJWmL3j/another-bg.jpg");
    }

    33% {
      background-image: url("https://i.ibb.co.com/ZRrcvt0/banner-bg.jpg");
    }

    66% {
      background-image: url("https://i.ibb.co.com/CJWmL3j/another-bg.jpg");
    }
  }